<!-- templates/dashboard.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Bem-vindo, {{ user.username }}!</h1>
    
    {% if estabelecimento %}
        <p>Você está associado ao Estabelecimento: {{ estabelecimento.nome }}</p>
    {% else %}
        <p>Você não tem um estabelecimento associado. <a href="{% url 'associar_estabelecimento' %}">Clique aqui para associar um estabelecimento.</a></p>
    {% endif %}
</body>
</html>



